<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               I enjoy solving problems through computional solutions. I've been incredibly fortunate to learn and work in an environment with a variety of projects requiring diverse solutions at a time where computational informatic methods were becoming a larger part of the field of biology. This has allowed me to get comfortable with multiple bioinformatic pipelines. 
            </p>
            <p class="paragraph-text justify-text">
               I'm broadly interested in the evolution and genetics of animals with unique lifestyles such as deep-sea chemosynthetic organisms and their adaptations to their unique environment. I also enjoy getting my hands dirty, whether that's sampling on a vessel or maintaining a research station.
            </p>
        </div>
    </section>
</div>
